body {

    font-family: 'montserrat', sans-serif;
    background-color: #eee;


}

/* navbar */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(63, 60, 60, 0.7), rgba(110, 168, 216, 0.9)), url(images/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px rgb(105, 104, 104);
}

.bottom-border {
    border-bottom: 1px groove rgb(238, 238, 238);
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: #25d8f0;
    border-radius: 5px;
}

.current {
    background-color: #2df057;
    border-radius: 7px;
    box-shadow: 2px 5px 10px rgb(131, 230, 155);
    transition: all .3s;
}

.current:hover {
    background-color: #25d8f0;
    border-radius: 7px;
    box-shadow: 2px 5px 20px rgb(70, 197, 219);
    transform: translateY(-1px);
}

.search-input {
    background: transparent;
    border: none;

    border-bottom: 2px solid rgb(40, 176, 218);
    transition: all .4s;
    transform: translateY(-5px);



}

.search-input:focus {
    background: rgb(224, 221, 221);
    box-shadow: none;
    border-bottom: 2px solid #1ea3cc;

}

.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

.search-button:hover {
    background-color: rgb(118, 216, 223);
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #eb2143;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .top-navbar {
        position: static;
    }
}

/* cards */
.card-common {
    box-shadow: 1px 2px 5px rgb(197, 103, 174);
    transition: all .4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-3px);
}

/* end of cards */



/* start project table  */

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 60% auto;
    transform: translateY(-3px);
}

.card:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-2px);
    box-shadow: 1px 2px 5px rgb(81, 223, 223);

}

.card {
    background: #fff;
    border-radius: 8px;
}

.card-header {
    padding: 2rem;

}

.card-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #db1919;
    background-color: #dddddd;
    box-shadow: 1px 2px 5px rgb(88, 221, 221);

}

.card-header button {
    background: deeppink;
    border-radius: 10px;
    color: rgb(252, 247, 250);
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}






.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;



}

.info {
    display: flex;
    align-items: center;

}

.info images {
    border-radius: 50%;
    margin-right: .9rem;

}

.info h4 {
    font-size: .8rem;
    font-weight: 600;
    color: rgb(51, 191, 216);

}

.info small {
    font-weight: 400;
    color: deeppink;

}














.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
}

.online_green {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid rgb(250, 249, 249);
}

.online_red {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #eb2143;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid rgb(250, 249, 249);
}

.online_orange {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: darkorange;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid rgb(250, 249, 249);
}