body {

    font-family: 'montserrat', sans-serif;
    background-color: #eee;


}

/* navbar */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(63, 60, 60, 0.7), rgba(110, 168, 216, 0.9)), url(images/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px rgb(105, 104, 104);
}

.bottom-border {
    border-bottom: 1px groove rgb(238, 238, 238);
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: #25d8f0;
    border-radius: 5px;
}

.current {
    background-color: #2df057;
    border-radius: 7px;
    box-shadow: 2px 5px 10px rgb(131, 230, 155);
    transition: all .3s;
}

.current:hover {
    background-color: #25d8f0;
    border-radius: 7px;
    box-shadow: 2px 5px 20px rgb(70, 197, 219);
    transform: translateY(-1px);
}

.search-input {
    background: transparent;
    border: none;

    border-bottom: 2px solid rgb(40, 176, 218);
    transition: all .4s;
    transform: translateY(-5px);



}

.search-input:focus {
    background: rgb(224, 221, 221);
    box-shadow: none;
    border-bottom: 2px solid #1ea3cc;

}

.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

.search-button:hover {
    background-color: rgb(118, 216, 223);
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #eb2143;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .top-navbar {
        position: static;
    }
}

/* cards */
.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

/* end of cards */

/* task list */
.task-border {
    border-left: 3px solid #25b9e6;
}

.task-border:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-2px);

}

/* end of task list */

/* start project table  */

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header {
    padding: 1rem;

}

.card-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {

    border-collapse: collapse;

}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;


}

thead td {
    font-weight: 700;
}


td {

    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;


}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;

}

tr td:last-child {
    display: flex;
    align-items: center;

}

.status.purple {

    background: rebeccapurple;

}

.status.pink {
    background: deeppink;

}

.status.orange {
    background: orangered;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;


}

.info {
    display: flex;
    align-items: center;

}

.info images {
    border-radius: 50%;
    margin-right: 1rem;

}

.info h4 {
    font-size: .8rem;
    font-weight: 600;
    color: #222;

}

.info small {
    font-weight: 600;
    color: var(--text-grey);

}

.contact span {

    font-size: 1.2rem;

    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);



}

/* end  project table  */