body {

    font-family: 'montserrat', sans-serif;
    background-color: #eee;


}

/* navbar */
.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(63, 60, 60, 0.7), rgba(110, 168, 216, 0.9)), url(images/img1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px rgb(105, 104, 104);
}

.bottom-border {
    border-bottom: 1px groove rgb(238, 238, 238);
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: #25d8f0;
    border-radius: 5px;
}

.current {
    background-color: #2df057;
    border-radius: 7px;
    box-shadow: 2px 5px 10px rgb(131, 230, 155);
    transition: all .3s;
}

.current:hover {
    background-color: #25d8f0;
    border-radius: 7px;
    box-shadow: 2px 5px 20px rgb(70, 197, 219);
    transform: translateY(-1px);
}

.search-input {
    background: transparent;
    border: none;

    border-bottom: 2px solid rgb(40, 176, 218);
    transition: all .4s;
    transform: translateY(-5px);



}

.search-input:focus {
    background: rgb(224, 221, 221);
    box-shadow: none;
    border-bottom: 2px solid #1ea3cc;

}

.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

.search-button:hover {
    background-color: rgb(118, 216, 223);
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;
}

.icon-bullet::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #eb2143;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .top-navbar {
        position: static;
    }
}

/* cards */
.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

/* end of cards */

/* task list */
.task-border {
    border-left: 3px solid #25b9e6;
}

.task-border:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-2px);

}

/* end of task list */

/* start project table  */

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 60% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header {
    padding: 1rem;

}

.card-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

table {

    border-collapse: collapse;

}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;


}

thead td {
    font-weight: 700;
}


td {

    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;


}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;

}

tr td:last-child {
    display: flex;
    align-items: center;

}

.status.purple {

    background: rebeccapurple;

}

.status.pink {
    background: deeppink;

}

.status.orange {
    background: orangered;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;


}

.info {
    display: flex;
    align-items: center;

}

.info images {
    border-radius: 50%;
    margin-right: 1rem;

}

.info h4 {
    font-size: .8rem;
    font-weight: 600;
    color: #222;

}

.info small {
    font-weight: 600;
    color: var(--text-grey);

}

/* end  project table  */





















body {
    margin-top: 2px;
    background: #f5f5f5;
}



/*
    =================================
    CHAT ROOM
    =================================
*/

.chat-room {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}

.chat-room:hover {

    box-shadow: 2px 3px 15px rgb(121, 118, 118);
    transform: translateY(-3px);

}


.chat-room aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.chat-room .kiri-side {
    width: 25%;
    background: #e5e8ef;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}

.chat-room .tengah-side {
    width: 50%;
    background: #fff;
    border-right: 1px solid #e5e8ef;
}

.chat-room .kanan-side {
    width: 25%;
    background: #fff;
}

.chat-room .kiri-side .user-head {
    background: #2980b9;
    color: #FFFFFF;
    min-height: 70px;
    padding: 15px;
}

.chat-room .kanan-side .user-head {
    background: #2980b9;
    color: #FFFFFF;
    min-height: 70px;
    padding: 10px;
    border-left: 1px solid #2980b9;
    margin-left: -1px;
    position: relative;
}


.chat-room .user-head i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}

.chat-room .user-head h3 {
    margin: 6px 0 0 0;
    font-weight: 100;
    letter-spacing: 1px;
}

.chat-room-head {
    background: #3498db;
    color: #FFFFFF;
    min-height: 70px;
    padding: 15px;
}

.chat-room-head h3 {
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}

.chat-room-head .search-btn {
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: none;
    background: #01a6b2 url("../img/chat-search.png") no-repeat 12px 9px;
    padding: 0 5px 0 35px;
    margin-top: 2px;
    border: none;
    color: #fff;
}

.chat-room-head .search-btn:focus {
    width: 180px;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    /*background: #01a6b2;*/
    font-weight: 300;
    color: #fff;
}

.chat-room-head .search-btn:focus::-moz-placeholder {
    color: #fff;
}


ul.chat-list li a {
    color: #6a6a6a;
    display: block;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
}

ul.chat-list li a:hover,
ul.chat-list li.active a {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list li h4 {
    padding: 17px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #D5D7DE;
}

ul.chat-list li h4 i {
    padding-right: 5px;
}

ul.chat-list li a span {
    padding-left: 10px;
}

ul.chat-list li a i.fa-times {
    color: #9fa3b0;
}

ul.chat-list li.active {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list {
    border-bottom: 1px solid #d5d7de;
    padding-left: 0;
    list-style: none;
}

ul.chat-user {
    margin-bottom: 200px;
}

ul.chat-user li {
    border-bottom: none;
}

ul.chat-user li a:hover {
    background: none;
    color: #6a6a6a;
}

.chat-room .kiri-side footer {
    background: #d5d7de;
    padding: 15px;
    height: 70px;
    width: 25%;
    position: absolute;
    bottom: 0;
}

.chat-room .tengah-side footer {
    background: #f6f6f6;
    padding: 15px;
    height: 70px;
    width: 50%;
    position: absolute;
    bottom: 0;
    border-right: 1px solid #E5E8EF;
}

.chat-room .kanan-side footer {
    background: #fff;
    padding: 15px;
    height: 70px;
    width: 25%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #E5E8EF;
}

.chat-room .kiri-side footer .chat-avatar img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    float: left;
}

.chat-room .kiri-side footer .user-status {
    float: left;
    margin: 10px;
}

.chat-room .kiri-side footer .user-status i {
    padding-right: 5px;
}

.chat-room .left-side footer a.chat-dropdown {
    background: #96979a;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    margin-top: 10px;
    padding: 3px 5px;
}

.room-desk {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding: 15px;
}

.room-desk h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0 0 0;
}

.room-box {
    border: 1px solid #f7f8fa;
    background: #f7f8fa;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.room-box h5 {
    margin: 0 0 5px 0;
    font-weight: 300;
    font-size: 16px;
}

.room-box h5 a {
    color: #00a9b4;
}

.chat-tools {
    float: right;
    padding: 3px;
    width: 40px;
    height: 35px;
    line-height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    margin-top: 6px;
    margin-left: 10px;
}

.chat-tools i {
    font-size: 16px !important;
    float: none !important;
    margin-right: 0 !important;
    color: #fff;
}

.btn-key {
    background: #1abc9c;
}

.btn-key:hover {
    background: #16a085;
}

.invite-row {
    background: #E5E8EF;
    padding: 6px 10px;
    display: inline-block;
    width: 100%;
}

.invite-row h4 {
    font-size: 16px;
    font-weight: 300;
}

ul.chat-available-user {
    padding: 10px;
    list-style: none;
}

ul.chat-available-user li {
    margin-bottom: 15px;
}

ul.chat-available-user li a {
    color: #6a6a6a;
    text-decoration: none;
}

ul.chat-available-user li i {
    padding-right: 5px;
    font-size: 10px;
}

.group-rom {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eaebee;
}

.group-rom .first-part,
.group-rom .second-part,
.group-rom .third-part {
    float: left;
    padding: 15px;
}

.group-rom .first-part {
    width: 25%;
}

.group-rom .first-part.odd {
    background: #f7f8fa;
    color: #6a6a6a;
    font-weight: 600;
}

.group-rom .second-part {
    width: 60%;
}

.group-rom .third-part {
    width: 15%;
    color: #d4d3d3;
}


a.guest-on {
    color: #6a6a6a;
    margin-top: 8px;
    display: inline-block;
}

a.guest-on i {
    background: #40cabe;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 5px;
}

.chat-txt {
    float: left;
    width: 70%;
    margin-right: 5px;
}

.lobby {
    padding: 0 !important;
}